%head
  %link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
  %title USP+

.col-md-10.col-md-offset-1
  %br
  %img.center
    = image_tag("welcome.png", alt: "USPMais")
  %p
    %br
    Fique por dentro dos eventos mais interessantes pra você:
  %br
  .row
    .column
      = image_tag("trophy.png", alt: "trophy")
      Atividades de Atléticas
    .column
      = image_tag("dance.png", alt: "dance")
      Atividades de Dança
    .column
      = image_tag("connection.png", alt: "extension")
      Grupos de Extensão
    .column
      = image_tag("businessman.png", alt: "expositions")
      Feiras e Exposições


  %br
  %p
    Para você que é organizador, oferecemos uma plataforma completa para a criação e gerenciamento de eventos.
    %br
    = link_to "Crie uma conta e saiba mais!", new_user_path
  %br
