- if @errors
  = @errors

%html
  %head
    %title Editar Evento

%h1 Edição de Evento
.row
  .col-md-6.col-md-offset-3
    = form_with model: @event, local: true  do |f|
      = f.label :nome
      = f.text_field :nome, class: 'form-control'
      /%br
      /= f.label :foto
      /= f.url_field :foto, class: 'form-control'
      /= f.submit 'Submit', :foto => "form_submit"
      %br
      = f.label :info
      = f.text_field :info, class: 'form-control'
      %br
      = f.label :local
      = f.text_field :local, class: 'form-control'
      %br
      = f.label :date
      = f.date_field :date, class: 'form-control'
      %br
      = f.label :time
      = f.time_field :time, class: 'form-control'
      %br
      = f.submit "Salvar mudanças", class: "btn btn-primary"

%p Find me in app/views/event/[:id]/edit.html.haml