%head
  %title= @event.nome
%br
%h1= @event.nome

.col-md-10.col-md-offset-1
  .describe
    %br
    %br
    = @event.info
    %br
    %br
    %br
    -#FOTO:
    -#%i= @event.foto
    -#br
    .row
      .column
        = image_tag("place.png", alt: "place")
        = @event.local
      .column
        = image_tag("schedule.png", alt: "day")
        = @event.date.strftime("%d/%m/%Y")
      .column
        = image_tag("clock.png", alt: "time")
        = @event.time.strftime("%R")
    %br
    %br
    %br


    - if logged_in? and @my_events.include? @event
      .row
        .column
          = link_to "Editar Evento", edit_event_path(@event.id), class: "btn btn-primary"
        .column
          = link_to "Deletar Evento", event_path(@event.id), method: :delete,
          data: {confirm: "Você tem certeza?"}, class: "btn btn-primary"
      %br
      %br
      %br
      %br
