%h1 Pronto!
%p
  NOME:
  %i= @event.nome
  %br
  -#FOTO:
  -#%i= @event.foto
  -#br
  INFO:
  %i= @event.info
  %br
  LOCAL:
  %i= @event.local
  %br
  DATE:
  %i= @event.date
  %br
  TIME:
  %i= @event.time
  %br
