%h1 Pronto!
%p
  NOME:
  %i= @event.nome
  %br
  -#FOTO:
  -#%i= @event.foto
  -#br
  INFO:
  %i= @event.info
  %br
  LOCAL:
  %i= @event.local
  %br
  DATE:
  %i= @event.date
  %br
  TIME:
  %i= @event.time
  %br
  %br
  = link_to "Editar Evento", edit_event_path(@event.id)
  %br
  = link_to "Deletar Evento", event_path(@event.id), method: :delete,
  data: {confirm: "Você tem certeza?"}
