%head
  %title Página do evento

%h1 Página do evento

.col-md-10.col-md-offset-1
  %p
    Nome:
    %i= @event.nome
    %br
    -#FOTO:
    -#%i= @event.foto
    -#br
    Informações:
    %i= @event.info
    %br
    Local:
    %i= @event.local
    %br
    Data:
    %i= @event.date.strftime("%d/%m/%Y")
    %br
    Hora:
    %i= @event.time.strftime("%R")
    %br
    %br
    - if logged_in? and @my_events.include? @event
      = link_to "Editar Evento", edit_event_path(@event.id), class: "btn btn-primary"
      %br
      %br
      = link_to "Deletar Evento", event_path(@event.id), method: :delete,
      data: {confirm: "Você tem certeza?"}, class: "btn btn-primary"
