%h1 User#index
= form_with scope: :user, url: new_user_path, local: true  do |f|
  = f.label :nome
  = f.text_field :nome
  = f.label :user
  = f.text_field :user
  = f.submit
%p Find me in app/views/user/index.html.haml
