- if @errors
  = @errors

%html
  %head
    %title Criar usuário

%h1 Criação de usuario
.row
  .col-md-6.col-md-offset-3
    = form_with scope: :user, url: '/user', local: true  do |f|

      = render 'shared/error_messages'

      = f.label :nome
      = f.text_field :nome, class: 'form-control'
      %br
      = f.label :email
      = f.email_field :email, class: 'form-control'
      %br
      = f.label :instituto
      = f.text_field :instituto, class: 'form-control'
      %br
      = f.label :curso
      = f.text_field :curso, class: 'form-control'
      %br
      = f.label :info, 'Informações'
      = f.text_field :info, class: 'form-control'
      %br
      = f.label :link_site, 'Link site'
      = f.url_field :link_site, class: 'form-control'
      %br
      = f.label :link_fb, 'Link Facebook'
      = f.url_field :link_fb, class: 'form-control'
      %br
      = f.label :link_tt, 'Link Twitter'
      = f.url_field :link_tt, class: 'form-control'
      %br
      = f.label :password, 'Senha'
      = f.password_field :password, class: 'form-control'
      %br
      = f.label :password_confirmation, 'Confirmação de senha'
      = f.password_field :password_confirmation, class: 'form-control'

      %br
      = f.submit "Criar usuario", class: "btn btn-primary"
