%h1 Pronto!
%p
  NOME:
  %i= @user.nome
  %br
  -#FOTO:
  -#%i= @event.foto
  -#br
  EMAIL:
  %i= @user.email
  %br
  INSTITUTO:
  %i= @user.instituto
  %br
  CURSO:
  %i= @user.curso
  %br
  INFO:
  %i= @user.info
  %br
  - if @user.link_site.nil?
    SITE:
    %i= @user.link_site
    %br
  - if @user.link_fb.nil?
    FACEBOOK:
    %i= @user.link_fb
    %br
  - if @user.link_tt.nil?
    TWITTER:
    %i= @user.link_tt
    %br

cadastrado com sucesso!
