%head
  %title= @user.nome
%br
%h1= @user.nome

.col-md-10.col-md-offset-1
  .describe
    %br
    %br
    = @user.info
    %br
    = @user.curso
    \-
    = @user.instituto
    %br
    %br
    %br

    .row
      .column
        = image_tag("message.png", alt: "email")
        = @user.email
      - unless @user.link_site.empty?
        .column
          = image_tag("web.png", alt: "site")
          = @user.link_site
      - unless @user.link_fb.empty?
        .column
          = image_tag("facebook.png", alt: "facebook")
          = @user.link_fb
      - unless @user.link_tt.empty?
        .column
          = image_tag("twitter.png", alt: "twitter")
          = @user.link_tt

    %br
    %br
    %br
    %br
