%p
  Finge que tem um header aqui (estou em view/layout/application.html.haml)

!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %header.navbar.navbar-fixed-top.navbar-inverse
      .container
        = link_to "USPMais", root_path, id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right

            %li= link_to "Lista de Eventos", event_index_path

            - if logged_in?
              %li= link_to "Criar evento", new_event_path
            - else
              %li= link_to "Criar usuário", new_user_path

            - if logged_in?
              %li= link_to "Users", user_index_path
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Account
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Profile", current_user
                  %li= link_to "Editar", edit_user_path(current_user)
                  %li.divider
                  %li
                    = link_to "Log out", logout_path, method: :delete
            - else
              %li= link_to "Log in", session_new_path


    </br>
  %body
    = yield

    .container
      - flash.each do |message_type, message|
        %div{:class => "alert alert-#{message_type}"}= message

    .container
      %footer.footer
        %small
          USPMais - Eventos e universidade
        %nav
          %ul
            %li= link_to "Sobre nós", static_pages_about_path
            %li= link_to "Github", 'http://github.com/mrfelipenoronha/uspmais'
